extends layout

block stylesheets
	link(rel='stylesheet', href='/assets/css/login.css')
	
block content
	h1 Sign in
	h3#login-error Login failed
	form(id='login-form' method='post', action='/auth/login')
		.form-group
			label Email
			input(id='email' name='email', type='text', placeholder='Enter email')
		.form-group
			label Password
			input(id='password' name='password', type='password', placeholder='Choose password')

		.form-group
			input(name='submit' type='submit' value='Sign in')

block scripts
	script(src="https://unpkg.com/axios/dist/axios.min.js")
	script(src="/assets/js/auth/login.js")