<!DOCTYPE html>
<html>
    <head>
        <title>T3</title>    
    </head>
    <body>
        <h1>Welcome to T3</h1>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[0] %>"></script>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[1] %>"></script>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.files.js[2] %>"></script>
    </body>
</html>