html
    head
        meta(charset="utf-8")
        meta(name="csrf-token" content= csrfToken)
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title= title
    body
        div#app
        script(src="/assets/js/app/polyfills.85e42a418d2cfb015b25.js")
        script(src="/assets/js/app/vendor.80d17bcb0cb3c99f7144.js")
        script(src="/assets/js/app/app.8988638d854edee4788a.js")
