@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import './normalize.css';
@import './sidebar.css';
@import './tasks.css';

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;

    font-family: 'Open Sans', sans-serif;
}

/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*, *:before, *:after {
    box-sizing: inherit;
}

ul, li {
    padding: 0;
    margin: 0;
}

#app {
    height: 100%;
}

#wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: auto;
    grid-template-areas: 
        "main";
}



main {
    grid-area: main;
    /* background-color: rgba(0, 0, 0, .2); */
}


@media screen and (min-width: 700px) {
    
    #wrapper {
        display: grid;
        height: 100%;
        grid-template-columns: 200px auto;
        grid-template-areas: 
            "leftnav main";
    
    }

}
