#sidebar-left {
    display: none;
}

@media screen and (min-width: 700px) {

    #sidebar-left {
        display: block;
        grid-area: leftnav;
        background-color: rgba(0, 0, 0, .8);
    }

    #sidebar-left nav ul li {
        padding: 10px;
    }

    #sidebar-left nav ul li a {
        color: rgba(255, 255, 255, .7);
        text-decoration: none;
        padding: 5px 10px ;
        border-radius: 10px;
    }

    #sidebar-left nav ul li a span {
        margin-right: 10px;
    }

    #sidebar-left nav ul li a.left-nav-active {
        color: white;
        background: rgba(255, 255, 255, .1);
    }
    
}