#sidebar-left {
    display: none;
}

@media screen and (min-width: 700px) {

    #sidebar-left {
        display: block;
        grid-area: leftnav;
        background-color: rgba(40, 42, 55, .95);
    }

    #sidebar-left h3 {
        text-align: center;
        color: rgb(127, 129, 143);
    }

    #sidebar-left nav ul li {
        padding: 10px;
    }

    #sidebar-left nav ul li a {
        color: rgba(255, 255, 255, .7);
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
    }

    #sidebar-left nav ul li a span {
        display: none;
    }

    #sidebar-left nav ul li a.left-nav-active {
        color: white;
        background: rgba(255, 255, 255, .1);
    }
    
}

@media screen and (min-width: 1000px) {

    #sidebar-left nav ul li a span {
        display: inline;
        margin-left: 10px;
    }

    #sidebar-left nav ul li a {
        padding: 5px 30px 5px 10px;
    }

}