.tasks-rows {
    width: 100%;
    list-style: none;
}

.timer-active-task-row,
.timer-task-row {
    clear: left;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.timer-active-task-row {
    height: 70px;
    margin-bottom: 30px;
}

.ttr-left {
    float: left;
    width: 60%;
}

.ttr-right {
    float: right;
    width: 40%;
}

.ttr-description-wrapper {
    float: left;
    width: 70%;
}

.ttr-description-wrapper input[type="text"] {
    width: 90%;
}

.ttr-project-select {
    display: inline-block;
    max-width: 150px;
    padding: 5px;
    font-size: .8em;
    cursor: pointer;
    overflow: hidden;
}

.ttr-type-select {
    display: inline-block;
    width: 100px;
    cursor: pointer;
}

.ttr-project-select:hover, .ttr-type-select:hover {
    background: grey;
    border-radius: 5px;
}

.ttr-no-selected {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}

.ttr-last {
    float: right;
    width: 30%;
    background-color: rgba(0, 0, 0, .5);
}